<html>
  <head id="head">
    <title>CC Board</title>
    <%= stylesheet "application" %>
    <%= javascript "mootools-1.2.1-core-yc" %>
    <%= javascript "css_packed" %>
    <%= javascript "application" %>
  </head>
  <body id="body">
    <div class="settings_button" onclick="openSettingsPanel(); return false;"></div>
    <div id="settings_panel">
      <div class="settings_button opened" onclick="closeSettingsPanel(); return false;"></div>
      <form action="#" onsubmit="return false">
        Text Size: <input id="text_size_input" type="text" size="5" onchange="changeTextSize(this.value)"/>%
      </form>
    </div>
    <% @build_lists.each do |list| %>
      <% list.each do |build| %>
        <div class="build <%= build.status %> <%= build.activity %>">
          <a href="<%= build.url || '#' %>" 
             onclick="<%= "alert('No URL Available'); return false" unless build.url %>"
             target="_blank">
             <%= build.name %>
          </a>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
